apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
  user: admin
spec:
  hosts:
{% for host in groups['cluster'] %}
    - ssh:
        address: {{ hostvars[host]['ansible_host'] }}
        user: {{ hostvars[host]['ansible_user'] }}
      noTaints: true
      role: {{ 'controller+worker' if host in groups['controllers'] else 'worker' }}
      kubeletRootDir: /var/lib/kubelet
      installFlags:
        - --disable-components=konnectivity-server
{% endfor %}
  k0s:
    version: v1.35.1+k0s.0
    dynamicConfig: false
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: k0s
      spec:
        network:
          provider: custom
          kubeProxy:
            disabled: true

