apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: "http://{{ groups['monitoring'] | first }}:9090"
    access: proxy
    isDefault: true
    uuid: prometheus
    jsonData:
      timeInterval: "1m"
