vrrp_instance VI_1 {
    state BACKUP
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_vip }}
    }
}
